"@mmtplanning:registry" "https://us-east4-npm.pkg.dev/directed-reef-420621/simulation-types/"
"//us-east4-npm.pkg.dev/directed-reef-420621/simulation-types/:_authToken" "ya29.a0AXooCgsv-d4phGA36R4wbmLaAjs3Ngtc6gCv2jYcCoD17Txdg_GesDyURYO2sJ73x2CxrOxAEoXkrV4HryZUrWWt-gId6o4ycoqnsaZmhu9uDlhn_A53xANKnG_CC7UNseSDcumHlmy2D4mhuShGHq333CK2RbYT65rfQJPDDD4SkBxZ4zFraCgYKARwSARISFQHGX2Midxvv2gqjro2qEB7bMuupIQ0187"